@font-face {
  font-family: 'Alethia pro';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/alethiapro-regular.otf');
}

@font-face {
  font-family: 'Alethia pro';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/alethiapro-italic.otf');
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html * {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 90%;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}


.btn{
  color: var(--white);
  background-color: var(--primary);
  padding: 10px 30px;
  border: solid var(--primary) 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 5px;
  transition : 361ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  }
  
  .btn:hover{
    transition : 361ms;
    padding: 10px 29px;
    transform : translateY(-0px);
    background-color: #fff;
    color: var(--primary);
    border: solid 2px var(--primary);
  }

  .wave {
    background-image: url("/images/wave.svg");
    background-repeat: repeat-x;
    background-size: 1200px auto;
    background-position: bottom;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 200px;
    animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    z-index: 1;
  }
    
  .wave:nth-of-type(2) {
    opacity: 0.7;
    animation:  swell 10s ease -1.25s infinite, wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite;
    z-index: 0;
  }
  
  @keyframes wave {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: -1200px;
    }
  }

  @keyframes waveResponsive {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: -40vh;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      background-position: right bottom 10px;
    }
    50% {
      background-position: right bottom 0;
    }
  } 

  @media screen and (max-width: 660px) {
    .wave{
      background-size: 40vh auto;
      height: 80vh;
      animation: waveResponsive 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    }

    .wave:nth-of-type(2) {
      animation:  swell 10s ease -1.25s infinite, waveResponsive 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite;
    }
  }