.hero {
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 200px;
  padding: 0 0 var(--size-gutter);
  position: relative;
}

.divReservar{
  display: flex;
  flex-direction: column;
  max-height: 144px;
}

.logoReservar{
  display: none !important;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
}

.details {
  background: var(--background);
  left: 0;
  max-width: 40rem;
  width: 85%;
  padding: var(--space-md);
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: -1px 18px 11px 0px rgba(209,209,209,1);
  -moz-box-shadow: -1px 18px 11px 0px rgba(209,209,209,1);
  box-shadow: -1px 18px 11px 0px rgba(209,209,209,1);
  border-radius: var(--space-sm);
  bottom: -1vh;
}

.content {
  font-size: var(--text-prose);
  font-weight: var(--semibold);
  margin: 0;
  max-width: 50%;
  text-align: center;
}

/* @media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
} */

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  /* .details {
    max-width: 44rem;
    padding: var(--space-3xl) var(--size-gutter) 0;
  } */
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
    width: 85%;
  }

  /* .details {
    left: var(--size-gutter);
    padding: var(--space-3xl) var(--size-gutter) 0 0;
  } */
}

@media screen and (max-width: 600px) {
  .title{
    display: none !important;
  }
  .logoReservar{
    display: block !important;
  }

  .details{
    padding-bottom: var(--space-xl);
  }
}


